<html>
    <head>
        <title>Productos</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            let text;
            const listProductos=()=>{
                $.ajax({
                    type:'GET',
                    url:'http://django-lab07-grupo04.herokuapp.com/producto/',
                    contentType:'application/json',
                    async:true,
                    success:function(data){
                        console.log(data);
                        var today = new Date();
                        document.getElementById("hora").innerHTML = today;
                        text = data;

                    }, error:function(error){
                        console.log(error);
                    }
                })
            };
            $(document).ready(function($){
                listProductos();
            })
        </script>
    </head>
    <body>
        <p id="hora"></p>
        <br>
        <button onclick="imprimir()">Actualizar</button>
        <h3>Lista</h3>
        <div id="lista">
            
        </div>
        <script>
            function imprimir(){
                let lista = "<ol>"
                for(let i=0;i<text.length;i++){
                    lista += "<li> Nombre: "+text[i].nombre+"  Precio Unitario :"+text[i].precio_unidad+"  Precio paquete: "+text[i].precio_paquete+"</li>";
                }
                lista += "</ol>"
                document.getElementById("lista").innerHTML = lista
            }
        </script>
    </body>
</html>